# PyCharm files
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

media/

/users/migrations/
/users/__init__.py
/users/admin.py
/users/apps.py
/users/models.py
/users/tests.py
/users/views.py
/templates/base.html
/templates/register.html
/templates/login.html
/templates/product.html
/templates/index.html
/feedback/__init__.py
/feedback/admin.py
/feedback/apps.py
/feedback/models.py
/feedback/tests.py
/feedback/views.py
/profiles/__init__.py
/profiles/admin.py
/profiles/apps.py
/profiles/models.py
/profiles/tests.py
/profiles/views.py
/schedule/__init__.py
/schedule/admin.py
/schedule/apps.py
/schedule/models.py
/schedule/tests.py
/schedule/views.py
